<div class="widget-wrap"> 
<h3 class="widget-title">链接</h3> 
   <div class="widget">
   <ul class="entry"> 
    <li><a href="http://hadroncfy.com" title="hadroncfy" target="_blank">CFY(Hadron)</a></li> 
    <li><a href="http://zzy.blog.ustc.edu.cn" title="ZZY" target="_blank">ZZY(BG6GCZ)</a></li> 
   </ul> 
</div></div>